<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'menu.html' %}
<h1>Lista produktów (HTML)</h1>
<table border="1">
    <tr><th>Id produktu</th><th>Nazwa</th><th>Cena</th><th>Akcje</th></tr>
    {% for p in products %}
        <tr><td>{{ p.product_id }}</td><td>{{ p.product_name }}</td><td>{{ p.price }}</td>
            <td>
            <a href="show_product_details?id={{ p.product_id }}">Pokaż szczegóły</a>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>